<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- http://docs.nuget.org/docs/reference/nuget-config-file -->
  <config>
    <!--
    Used to specify the default location to expand packages.
    See: NuGet.exe help install
    See: NuGet.exe help update
     -->
    <add key="globalPackagesFolder" value="Packages" />
  </config>
  <!--
  Used to specify the default Sources for list, install and update.
  See: NuGet.exe help list
  See: NuGet.exe help install
  See: NuGet.exe help update
   -->
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/api/v3/index.json" />
  </packageSources>
</configuration>
